[submodule "Solarized"]
	path = Solarized
	url = https://github.com/alexnj/Solarized.git
[submodule "Theme - Sodarized"]
	path = Theme - Sodarized
	url = https://github.com/alexnj/sodarized.git
[submodule "VcsGutter"]
	path = VcsGutter
	url = https://github.com/bradsokol/VcsGutter.git
[submodule "GitGutter"]
	path = GitGutter
	url = https://github.com/jisaacks/GitGutter.git
[submodule "sublime-dustjs"]
	path = sublime-dustjs
	url = https://github.com/sntran/sublime-dustjs.git
[submodule "SublimeOnSaveBuild"]
	path = SublimeOnSaveBuild
	url = https://github.com/alexnj/SublimeOnSaveBuild.git
