[submodule "GitGutter"]
	path = GitGutter
	url = https://github.com/jisaacks/GitGutter.git
[submodule "sublime-dustjs"]
	path = sublime-dustjs
	url = https://github.com/sntran/sublime-dustjs.git
[submodule "SublimeOnSaveBuild"]
	path = SublimeOnSaveBuild
	url = https://github.com/alexnj/SublimeOnSaveBuild.git
[submodule "Sublime-Wrap-Plus"]
	path = Sublime-Wrap-Plus
	url = https://github.com/ehuss/Sublime-Wrap-Plus.git
[submodule "SublimeLinter-jshint"]
	path = SublimeLinter-jshint
	url = https://github.com/SublimeLinter/SublimeLinter-jshint.git
[submodule "SublimeLinter"]
	path = SublimeLinter
	url = https://github.com/SublimeLinter/SublimeLinter3.git
[submodule "Theme - Clouds"]
	path = Theme - Clouds
	url = https://github.com/alexnj/SublimeText-Clouds-Color-Schemes.git
